<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Tu Proyecto Twitter Clone</title>
</head>
<body>
  <div id="content">
    <h1 class="title">POLITIK</h1>
    <h2 class="description">La nueva plataforma que te provee de herramientas para participar activamente en la política</h2>
    <h3 class="rol">¿Qué rol quieres llevar?</h3>

    <div class="btn_container">
      <div class="leftBtn" id="politicRol">
        <div class="image-container button" id="btnL">
          <img src="../../../assets/images/politic.png" alt="politic">
          <h2>Político</h2>
        </div>
      </div>
      <div class="rightBtn" id="citizenRol">
        <div class="image-container button" id="btnR">
          <img src="../../../assets/images/citizen.png" alt="citizen">
          <h2>Ciudadano</h2>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
