<form>
  <button id="closeBtn" mat-button (click)="closeDialog()"><i class="fa-solid fa-xmark"></i></button>
  <div class="title">
    <h1>POLITIK</h1>
  </div>
  <h4 class="description">Restablece tu contraseña</h4>
  <h6>Introduce el correo electrónico, el número de teléfono o el nombre de usuario asociados a tu cuenta para cambiar tu contraseña.</h6>
  <div class="form-group">
    <input type="text" id="username" class="form-control" placeholder="">
    <label for="username">Teléfono, email o nombre de usuario</label>
  </div>
  <div class="btn-container">
    <button type="button" class="btn btn-primary" (click)="sendEmail()">Siguiente</button>
  </div>
</form>
