h4 {
  color: #ffffff;
}
h6{
  color: #5c5c5c;
}

form {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 4% 10%;
  background-color: #000000;
  border-radius: 0.9em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;

  #closeBtn {
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1%;
    color: #ffffff;
    font-size: 1.5vw;
    cursor: pointer;
    background: transparent;
    box-shadow: none;
  }
}

.title {
  text-align: center;
  margin-bottom: 5%;
  font-family: 'Passion One', sans-serif;

  h1 {
    font-size: 3vw;
    margin: 0;
    color: #ffffff;
  }
}


.form-group {
  position: relative;
  margin-bottom: 5%;
  margin-top: 8%;

  .description {
    margin-bottom: 7%;
    color: #ffffff;
  }
  .form-control {
    font-size: 1em;
    padding: 5%;
    border-color: rgb(63, 63, 63);
    border-radius: 4px;
    width: 90%;
    background-color: transparent;
    color: rgb(255, 255, 255); /* Color del texto */
    margin: 0 auto; /* Esto centrará el input horizontalmente */
    display: block;
  }
  .form-control:focus {
    outline: none;
    border-color: dodgerblue;
  }
  label {
    position: absolute;
    top: 32%;
    left: 8%;
    transition: all 0.3s ease;
    color: rgb(63, 63, 63);
    pointer-events: none;
    background-color: transparent;
    font-size: 1.3vw;
  }
  .form-control:focus + label,
  .form-control:not(:placeholder-shown) + label {
    font-size: 1vw;
    top: 0;
    color: dodgerblue;
  }

}



.btn-container {
  display: flex;
  flex-direction: column;

  button {
    width: 90%;
    height: 35%;
    margin: 2% auto;
    padding: 2% 0% 2% 0%;
    border-radius: 1.5em;
    font-size: 1.5vw;
    line-height: 100%;
    letter-spacing: 0.02vw;
  }

  .btn-primary {
    font-weight: bold;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    margin-bottom: 3%;
  }

}

