<div id="sideBar">
  <div class="d-flex flex-column flex-shrink-0 text-white" id="content">
    <a routerLink="/home" class="d-flex align-items-center text-white text-decoration-none">
      <div id="title">POLITIK</div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column ">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active-link" class="nav-link">
          <i class="fa-solid fa-house"></i>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/explore" routerLinkActive="active-link" class="nav-link">
          <i class="fa-solid fa-magnifying-glass"></i>
          Explora
        </a>
      </li>
      <li>
        <a routerLink="/notifications" routerLinkActive="active-link" class="nav-link">
          <i class="fa-regular fa-bell"></i>
          Notificaciones
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active-link" class="nav-link">
          <i class="fa-regular fa-user"></i>
          Perfil
        </a>
      </li>
    </ul>
    <hr>
    <button (click)="openDialogCreatePost()" class="btn btn-primary" id="postBtn">Post</button>
    <div class="dropdown dropup">
      <button class="btn text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="profile photo" width="40" height="40" class="rounded-circle me-2">
        <div id="username">
          <div class="name"><h5>{{name}} {{lastname}}</h5></div>
          <div><h5>&#64;{{username}}</h5></div>
        </div>
        <i class="fa-solid fa-ellipsis text-end"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small" aria-labelledby="dropdownUser1">
        <li><button class="dropdown-item" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Sign out</button></li>
      </ul>
    </div>
  </div>
</div>
