<div id="container">
  <header>
    <h4>Sugerencias</h4>
  </header>
  <!-- En este div habrá que poner un ngFor para pasarle los users recomendados -->
  <div id="user">
    <div id="imgUser">
      <img src="https://github.com/dre.png" alt="profile photo" width="40" height="40" class="rounded-circle me-2">
    </div>
    <div id="username">
      <!-- <div class="name"><h5>{{name}} {{lastname}}</h5></div>
      <div><h5> {{username}}</h5></div> -->
      <div class="name"><h5>Rubén Fernández</h5></div>
      <div><h5>rubfer</h5></div>
    </div>
    <div id="btn">
      <button class="btn btn-secondary">Seguir</button>
    </div>
  </div>
  <div id="user">
    <div id="imgUser">
      <img src="https://github.com/mdk.png" alt="profile photo" width="40" height="40" class="rounded-circle me-2">
    </div>
    <div id="username">
      <!-- <div class="name"><h5>{{name}} {{lastname}}</h5></div>
      <div><h5> {{username}}</h5></div> -->
      <div class="name"><h5>Israel López</h5></div>
      <div><h5>isralopez</h5></div>
    </div>
    <div id="btn">
      <button class="btn btn-secondary">Seguir</button>
    </div>
  </div>
</div>
