<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>POLITIK - Start</title>
</head>
<body>
  <div id="content">
    <h1 class="title">POLITIK</h1>
    <h2 class="description">
      El precio de desentenderse de la política es el ser gobernado por los peores hombres
    </h2>
    <div class="btn_container">
      <button type="button" class="btn btn-primary" id="btnCreate" #btnCreate>Crear cuenta</button>
      <button type="button" class="btn btn-secondary" id="btnLogin" #btnLogin>Iniciar sesión</button>
    </div>
  </div>
</body>
</html>
